@import "tailwindcss";

*{
  box-sizing: border-box;
}
body,html{
  height:100%;
  width:100%;

}
nav{
  /* padding: .5rem 1rem; */
}


/* Hide scrollbar specifically for HeroBox */
.herobox-scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.herobox-scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
